html {
  height: 100%;
  overflow: hidden;
}

html.imprint {
  height: auto;
  overflow: auto;

  body {
    height: auto;
    overflow: auto;
  }
}

body {
  font-family: Trebuchet MS, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

div#wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

div.overlay {
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
  color: white;
  height: 100%;
  width: 100%;

  div.greeting {
    opacity: 0;
    max-height: 60%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    a {
      padding: .3rem;
      background-color: white;
      border-color: black;
      border-radius: 10px;
      border-width: 2px;
      border-style: solid;
      color: black;
      font-size: 1.7rem;
    }
  }

  div.imprint {
    position: absolute;
    width: 100%;
    background-color: white;
    bottom: 0;
    padding: .25rem;
    text-align: right;
    color: black;
    opacity: 0;

    ul {
      float: left;
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        float: left;

        a {
          text-decoration: none;
          text-transform: uppercase;
        }

        a.current {
          text-decoration: underline;
        }
      }
    }
  }

  div.advice {
    position: absolute;
    opacity: 0;
  }
}

div.message {
  position: absolute;
  top: -10rem;
  z-index: 9999;
  background: white;
  padding: 0 .5rem;
  border: solid black 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.70);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.70);

  p {
    width: 90%;
  }
}

div.infowindow {
  font-family: Trebuchet MS, Arial, sans-serif;
  -moz-hyphens: auto;
  -o-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  margin: 0;
  max-height: 250px;
  z-index: 9999;

  p {
    margin: .2rem 0;
  }

  ul {
    margin: .2rem 0;
    padding: 0;

    li {
      margin: .3rem 0;
    }
  }
}

a, a:hover, a:visited, a:active, a:focus {
  color: black;
  outline: none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.clear {
  clear: both;
}

img.button {
  width: 28px;
  height: 28px;
}

/* Header style */
header[role="banner"] {
  background-image: url(../img/header.png);
  background-image: none, url(../img/header.svg);
  background-size: 100% 100%;
  position: relative;
  z-index: 500;
  //overflow: hidden;

  h1 {
    text-transform: uppercase;
    font-size: 1.3rem;
    margin: .2rem .5rem 0 0;
    text-align: right;
    float: right;
  }

  div.search-box {
    float: left;
    position: relative;
    padding: .5rem;

    input.search-input {
      width: 85%;
      margin-left: .25rem;
      padding: 3px 6px;
      border-style: none none solid;
      border-width: 0 0 1px;
      border-color: black;
      background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    input.search-input:focus {
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-tap-highlight-color: transparent;
      -webkit-user-modify: read-write-plaintext-only;
    }
  }

  div.nav-box {
    position: relative;
    float: left;
    padding: .5rem;
  }

  nav {
    img.show-overlay {
      float: left;
    }

    img.home {
      float: left;
    }

    div.list-articles {
      margin-right: 1rem;
    }
  }

}

section.imprint-german {
  float: left;
}

section.imprint-english {
  float: right;
}

div.add-articles {
  ul {
    list-style: none;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease 0.2s;
    -webkit-transition: all 0.2s ease 0.2s;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    position: absolute;

    li {
      cursor: pointer;
      padding: 12px 24px 12px 40px;
      background-repeat: no-repeat;
      background-position: 4px 8px;
    }

    li:hover {
      text-decoration: underline;
    }

    li#img {
      background-image: url(../img/bild.png);
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
    }

    li#txt {
      background-image: url(../img/text.png);
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
    }

    li#aud {
      background-image: url(../img/audio.png);
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
    }

    li#vid {
      background-image: url(../img/video.png);
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
    }
  }
}

div.article-heading {
  width: 100%;
  display: table;

  div.article-heading-row {
    display: table-row;

    div.article-heading-cell {
      display: table-cell;
      vertical-align: middle;
      padding: 0 .2em .5em .2em;
      text-align: center;

      h3 {
        margin: 0;
      }

    }
  }
}

section.slide-in {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 1000;
  background: white;
}

div.heading-box {
  padding: .8rem 0 0 0;
  background: white;
}

section#list-section {
  height: 0;
  overflow-x: auto;
  overflow-y: hidden;

  h3 {
    margin: 0;
  }

  ul {
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    li {
      background: #f6f6f6;
      padding: .3rem;
    }

    li:nth-child(odd) {
      background: #e5e5e5;
    }
  }

}

span.required {
  color: red;
}

span.hide-text {
  display: block;
  text-indent: -999px;
}

section#article-section img.load-more, section#list-section img.load-more {
  width: auto;
  margin-top: 15px;
}

section#article-section {
  cursor: grab;
  background: url("../img/bg.jpg") repeat scroll 0 0 transparent;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 20%;

  div.entry-list {
    position: relative;
    float: left;
    height: 100%;
    width: 100%;

    div.article-heading {
      img {
        padding-top: .4rem;
        width: auto;
        height: auto;
        cursor: pointer;
      }

      div.entry-slide {
        height: 24px;
        width: 24px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      -webkit-overflow-scrolling: touch;

      li {
        float: left;
        width: 100%;
        height: 100%;
      }
    }
  }

  p {
    margin-top: 0;
    margin-bottom: 0.5rem;
    -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }

  div.new-entry {
    p {
      -moz-hyphens: none;
      -o-hyphens: none;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      hyphens: none;
    }

    form {
      p {
        background: url("../img/bg2.jpg") repeat scroll 0 0 transparent;
        margin-top: .75rem;
        padding: 0.25rem;
        float: left;
        width: 100%;
        overflow: hidden;
      }

      p.form {
        width: 45%;
      }

      p.form-right {
        float: right;

        span.float-right {
          margin-right: 0.7rem;
          margin-top: 0.2rem;
          float: right;
        }
      }

      p.form-left {
        float: left;
        min-height: 36px;

        span.float-left {
          margin-left: 0.7rem;
          margin-top: 0.2rem;
          float: left;
        }
      }
    }

    label {
      display: block;
    }

    span#selected-location {
      text-decoration: underline;
      font-weight: bold;
    }

    span.next {
      float: right;
      background: url("../img/next.png") no-repeat;
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }

    span.previous {
      float: left;
      background: url("../img/previous.png") no-repeat;
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }

    span.new {
      float: right;
      background: url("../img/plus.png") no-repeat;
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }

    span.edit {
      float: right;
      background: url("../img/edit.png") no-repeat;
      background-size: 28px 28px;
      -webkit-background-size: 28px 28px;
      height: 28px;
      width: 28px;
    }
  }

  img {
    width: 100%;
  }

  p.image-description {
    font-size: .8rem;
    font-style: italic;
    text-align: center;
  }

  article.entry-more {
    clear: both;

    audio, video {
      width: 100%;
    }

    * {
      margin-top: 10px;
    }

    p.author {
      text-align: right;
      font-size: .8rem;
    }

    p.sources {
      font-size: .8rem;
      font-style: italic;
    }

    p.date, p.categories {
      background: white;
      border-left: 3px solid #999;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 0 3px;
      margin-right: .5rem;

      span.category {
        font-weight: normal;
      }
    }

    p.image-description {
      margin-top: 0;
    }
  }
}

/* Sizing of map_section and map_canvas */
main, .max_map {
  height: 100%;
  width: 100%;
  float: left;
}

div.list-articles, img.list-articles, div.add-articles, img.add-articles, img.show-overlay {
  cursor: pointer;
}

article.imprint {
  padding: 1rem;
}

div.close {
  width: 18px;
  height: 18px;
  position: absolute;
  opacity: 0.7;
  right: 18px;
  top: 14px;
  z-index: 2;
  cursor: pointer;
}

div.close:hover {
  opacity: 1;
}

div.new-entry {
  h3 {
    margin: 0 0 .75rem 0;
    text-align: center;
  }

  audio, video {
    width: 100%;
  }

  input[type="text"], input[type="email"], input[type="date"], textarea {
    width: 100%;
    border-style: none none solid;
    border-width: 0 0 1px;
    border-color: black;
    font-weight: bold;
    background: transparent;
  }

  input[type="text"].alt {
    width: 80%;
    font-size: .8rem;
    text-align: center;
  }

  textarea {
    height: 8rem;
    margin-top: .5rem;
  }

  img.entry-image {
    display: none;
  }
}

@media screen and (max-width: 360px) {
  // very small styles
  header[role="banner"] {

    h1 {
      font-size: 1.2rem;
    }
  }

  body {
    font-size: .9rem;
  }

  div.overlay {
    div.greeting {
      max-height: 50%;
    }
  }
}

@media screen and (max-width: 768px) {
  // Mobile only styles from here on
  .desktop {
    display: none;
  }

  div.overlay {
    div.list-advice {
      left: 3.5rem;
      top: 3.1rem;
    }

    div.greeting {
      margin: 30% 10% 0% 10%;
    }

    span.genericon-list-entries:before {
      content: '\f503';
    }

    span.genericon-new-entry:before {
      content: '\f501';
    }

    div.plus-advice {
      bottom: 2.4rem;
      right: 3.5rem;
    }
  }

  section#article-section {
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.70);
  }

  section#list-section {
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.70);

    div.heading-box {
      min-height: 3rem;
    }

    div.list-box {
      height: calc(100% - 3rem);
      height: -moz-calc(100% - 3rem);
      height: -webkit-calc(100% - 3rem);
      height: -o-calc(100% - 3rem);
    }
  }

  img.list-articles, img.add-articles {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.70);
  }

  div.message {
    width: 80%;
    left: 10%;
  }

  header[role="banner"] {
    width: 200%;

    div.nav-box {
      width: 50%;
      left: -50%;
    }

    nav {
      ul {
        margin: 0;
      }
    }

    div.search-box {
      width: 50%;
      left: -50%;
    }
  }

  div.list-articles {
    position: absolute;
    top: 4rem;
    left: 2rem;
    z-index: 500;
  }

  div.add-articles {
    position: absolute;
    bottom: 3rem;
    right: 2rem;
    z-index: 500;

    ul {
      bottom: 40px;
      right: -26px;
      overflow: hidden;

      li {
        transition: all 0.2s ease 0.2s;
        -webkit-transition: all 0.2s ease 0.2s;
        position: relative;
        left: -120px;
      }
    }
  }

  div.add-articles.hover {
    ul {
      margin: 0;
      visibility: visible;
      opacity: .9;

      li {
        left: 0px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // Desktop styles from here on
  .mobile {
    display: none;
  }

  section.imprint {
    width: 50%;
  }

  div.overlay {
    div.list-advice {
      left: 0.8rem;
      top: 2.2rem;
    }

    div.greeting {
      margin: 10% 40%;
    }

    span.genericon-list-entries, span.genericon-new-entry {
      vertical-align: baseline;
    }

    span.genericon-list-entries:before, span.genericon-new-entry:before {
      content: '\f500';
    }

    div.plus-advice {
      top: 2.2rem;
      right: 18.8rem;
    }
  }

  div.message {
    width: 30%;
    left: 35%;
  }

  header[role="banner"] {
    width: calc(100% + 380px);
    width: -moz-calc(100% + 380px);
    width: -webkit-calc(100% + 380px);
    width: -o-calc(100% + 380px);

    div.nav-box {
      left: -380px;
      width: calc(100% - 380px);
      width: -moz-calc(100% - 380px);
      width: -webkit-calc(100% - 380px);
      width: -o-calc(100% - 380px);

      div.add-articles {
        z-index: 500;

        ul {
          margin: -200px 0 0 0;
        }
      }

      div.add-articles:hover {
        ul {
          margin: 0;
          visibility: visible;
          opacity: .9;
        }
      }
    }

    nav {
      ul {
        margin: .15rem 0 0 1rem;
      }
    }

    div.search-box {
      width: 380px;
      left: -380px;
    }

    h1 {
      margin: .15rem 0 0 0;
    }
  }

  section#article-section {
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: -5px 0 5px rgba(0, 0, 0, 0.70);
  }

  section#list-section {
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 5px 0 5px rgba(0, 0, 0, 0.70);
    float: left;

    div.heading-box {
      min-height: 3rem;
    }

    div.list-box {
      height: calc(100% - 3rem);
      height: -moz-calc(100% - 3rem);
      height: -webkit-calc(100% - 3rem);
      height: -o-calc(100% - 3rem);
    }
  }

  div.list-articles {
    float: left;
    margin-left: .25rem;
  }

  div.add-articles {
    float: right;
    margin-right: 1rem;
  }
}
