{% load i18n %}
{% for media_object in story.get_additional_media %}
	{% if media_object.type == "img" %}
		<img src="{{ media_object.sources.first.file.url }}" alt="{{ media_object.alt }}">
		<p class="image-description">{{ media_object.alt|safe }}</p>
	{% elif media_object.type == "aud" %}
		<audio controls preload="metadata">
			{% for source in media_object.sources.all %}
				<source src="{{ source.file.url }}" type="{{ source.get_mime_type }}">
			{% endfor %}
		</audio>
		<p class="image-description">{{ media_object.alt|safe }}</p>
	{% elif media_object.type == "vid" %}
		<video controls preload="metadata">
			{% for source in media_object.sources.all %}
				<source src="{{ source.file.url }}" type="{{ source.get_mime_type }}">
			{% endfor %}
		</video>
		<p class="image-description">{{ media_object.alt|safe }}</p>
	{% endif %}
{% endfor %}
<p class="date">{{ story.time_start }}{% if story.time_end %}&nbsp;{% trans "bis" %}&nbsp;{{ story.time_end }}{% endif %}</p>
{% if story.text %}
{{ story.text|safe }}
{% endif %}
{% if story.sources %}<p class="sources">{% trans "Quellen" %}:&nbsp;{{ story.sources }}</p>{% endif %}
{% if story.categories.count > 0 %}
<p class="categories"><span class="category">{% trans "Kategorien" %}:&nbsp;</span>
    {{ story.categories.all|join:", " }}
</p>
{% endif %}
<p class="author">{% trans "Autor_in" %}:&nbsp;{{ story.author.first_name }} {{ story.author.last_name }}</p>