{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" style="overflow: auto">
<head>
	<meta charset="utf-8">
	<title>{% trans "Mobiles Stadtged&auml;chtnis" %}</title>
	<meta name="description" content="">
	<link href="{%static "stadtgedaechtnis_frontend/css/style.css" %}" rel="stylesheet" media="all">
	<!--[if lt IE 9]><script src="{%static "stadtgedaechtnis_frontend/js/html5shiv-printshiv.js" %}" media="all"></script><![endif]-->
</head>
<body style="overflow: auto">
<div id="wrapper" style="overflow: auto">
	<main role="main">
		<section id="article-section" class="slide-in" style="height: 100%; padding: .8rem; width: 380px; overflow: auto">
			<div class="close">
				<img src="{%static "stadtgedaechtnis_frontend/img/close.png" %}">
			</div>
			<div class="entry-list">
				<ul>
					<li>
						<article class="entry-more" id="entry-more-0">
							{% load i18n %}
							<div class="center">
								<h3>{{ story.title }}</h3>
							</div>
							{% for asset in story.assets.all %}
								{% if asset.type == "img" %}
									<img src="{{ asset.sources.first.file.url }}" alt="{{ asset.alt }}">
									<p class="image-description">{{ asset.alt|safe }}</p>
								{% elif asset.type == "aud" %}
									<audio controls preload="metadata">
										{% for source in asset.sources.all %}
											<source src="{{ source.file.url }}" type="{{ source.get_mime_type }}">
										{% endfor %}
									</audio>
								{% elif asset.type == "vid" %}
									<video controls preload="metadata">
										{% for source in asset.sources.all %}
											<source src="{{ source.file.url }}" type="{{ source.get_mime_type }}">
										{% endfor %}
									</video>
								{% endif %}
							{% endfor %}
							<p class="date">{{ story.time_start }}{% if story.time_end %}&nbsp;{% trans "bis" %}&nbsp;{{ story.time_end }}{% endif %}</p>
							{% if story.text %}
								{{ story.text|safe }}
							{% endif %}
							{% if story.sources %}<p class="sources">{% trans "Quellen" %}:&nbsp;{{ story.sources }}</p>{% endif %}
                            {% if story.categories.count > 0 %}
                                <p class="categories"><span class="category">{% trans "Kategorien" %}:&nbsp;</span>
                                    {{ story.categories.all|join:", " }}
                                </p>
                            {% endif %}
							<p class="author">{% trans "Autor_in" %}:&nbsp;{{ story.author.first_name }} {{ story.author.last_name }}</p>
						</article>
					</li>
				</ul>
			</div>
		</section>
	</main>
</div>
</body>
</html>