{% load i18n %}
{% for image in story.get_additional_images %}
	<img src="{{ image.sources.first.file.url }}" alt="{{ image.alt }}">
{% endfor %}
<p class="date">{{ story.time_start }}{% if story.time_end %}&nbsp;{% trans "bis" %}&nbsp;{{ story.time_end }}{% endif %}</p>
{% if story.text %}
{{ story.text|safe }}
{% endif %}
{% for media_object in story.get_additional_media %}
	{% if media_object.type == "aud" %}
		<audio controls preload="metadata">
		{% for source in media_object.sources.all %}
			<source src="{{ source.file.url }}" type="{{ source.get_mime_type }}">
		{% endfor %}
		</audio>
	{% elif media_object.type == "vid" %}
		<video controls preload="metadata">
		{% for source in media_object.sources.all %}
			<source src="{{ source.file.url }}" type="{{ source.get_mime_type }}">
		{% endfor %}
		</video>
	{% endif %}
{% endfor %}
<p class="sources">{% trans "Quellen" %}:&nbsp;{{ story.sources }}</p>
<p class="author">{% trans "Autor_in" %}:&nbsp;{{ story.author.first_name }} {{ story.author.last_name }}</p>