{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <title>{% trans "Mobiles Stadtged&auml;chtnis" %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="{%static "stadtgedaechtnis_frontend/css/style.css" %}" rel="stylesheet" media="all">
    <!--[if lt IE 9]><script src="{%static "stadtgedaechtnis_frontend/js/html5shiv-printshiv.js" %}" media="all"></script><![endif]-->
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery-1.11.0.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.transit.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.touchSwipe.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.easing.1.3.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/unslider.js" %}"></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&key={{ GOOGLE_API_KEY }}&sensor=true&language={{ LANGUAGE_CODE }}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/geolocationmarker.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/locations.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/django_js_utils.js" %}"></script>
    <script type="text/javascript" src="{%url 'stadtgedaechtnis_frontend:django_js_utils.views.jsurls' %}"></script>
    <script type="text/javascript" src="{%url 'stadtgedaechtnis_frontend:django.views.i18n.javascript_catalog' %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/maps.js" %}"></script>
    <script type="text/javascript" src="{%static "stadtgedaechtnis_frontend/js/jquery.js" %}"></script>
</head>
<body onload="initializeMap()">
<div id="wrapper">
    <div class="overlay">
        <div class="greeting">
            <h2>{% trans "Willkommen beim mobilen Stadtgedächtnis Coburg!" %}</h2>
            <p>{% trans "Geschichte einmal anders ist das Ziel des Digitalen Stadtgedächtnisses. In einer multimedialen Zeitreise wird die Coburger Geschichte greifbar." %}</p>
			<p>{% trans "Jetzt können Sie das Digitale Stadtgedächtnis auch mobil erleben. Entdecken Sie die Geschichte dieser Stadt, während Sie unterwegs sind und teilen Sie uns all Ihre Erlebnisse mit. Viel Spaß!" %}</p>
            <p class="center"><a href="#">{% trans "Los geht's" %}!</a></p>
        </div>
        <div class="list-advice advice"><p><span class="genericon genericon-list-entries"></span>&nbsp;&nbsp;{% trans "Alle Einträge anzeigen" %}</p></div>
        <div class="plus-advice advice"><p>{% trans "Neuen Eintrag hinzufügen" %}&nbsp;&nbsp;<span class="genericon genericon-new-entry"></span></p></div>
        <div class="imprint">
            <ul>
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <li>
                        <form action="{% url 'set_language' %}" name="lang{{ language.code}}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="language" value="{{ language.code }}">
                            <a href="#" onclick="document.lang{{ language.code}}.submit();return false;" {% if language.code == LANGUAGE_CODE %} class="current"{% endif %}><b>{{ language.code }}</b></a>{% if not forloop.last %}&nbsp;<b>|</b>&nbsp;{% endif %}
                        </form>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'stadtgedaechtnis_frontend:privacy' %}">{% trans "Datenschutzerklärung" %}</a>&nbsp;|&nbsp;
            <a href="{% url 'stadtgedaechtnis_frontend:imprint' %}">{% trans "Impressum" %}</a></div>
    </div>
    <div class="message">
        <div class="close">
            <img src="{%static "stadtgedaechtnis_frontend/img/close.png" %}">
        </div>
        <p></p>
    </div>
    <header role="banner">
        <div class="search-box">
            <label for="search-input"><span class="genericon genericon-search"></span></label><input type="search" id="search-input" class="search-input">
        </div>
        <div class="nav-box">
            <nav role="navigation">
                <img class="list-articles desktop" src="{%static "stadtgedaechtnis_frontend/img/list.png" %}">
                <img class="show-overlay" src="{% static "stadtgedaechtnis_frontend/img/frage.png" %}">
            </nav>
            <h1>{% trans "Stadtged&auml;chtnis Coburg" %}</h1>
            <div class="add-articles desktop">
                <img class="add-articles" src="{%static "stadtgedaechtnis_frontend/img/plus.png" %}">
                <ul>
                    <li id="img">{% trans "Bild" %}</li>
                    <li id="aud">{% trans "Audio" %}</li>
                    <li id="vid">{% trans "Video" %}</li>
                    <li id="txt">{% trans "Text" %}</li>
                </ul>
            </div>
        </div>
        <div class="clear"></div>
    </header>

    <main role="main">
        <section id="list-section" class="slide-in">
            <div class="heading-box">
                <div class="center">
                    <h3>{% trans "Liste aller Einträge" %}</h3>
                    <img src="{%static "stadtgedaechtnis_frontend/img/ajax-loader.gif" %}" id="load-more-list" class="load-more">
                </div>
                <div class="close">
                    <img src="{%static "stadtgedaechtnis_frontend/img/close.png" %}">
                </div>
            </div>
            <div class="list-box">
                <ul>

                </ul>
            </div>
        </section>
        <section class="max_map">
            <img class="list-articles mobile" src="{%static "stadtgedaechtnis_frontend/img/list.png" %}">
            <div class="add-articles mobile">
                <img class="add-articles" src="{%static "stadtgedaechtnis_frontend/img/plus.png" %}">
                <ul>
                    <li id="img">{% trans "Bild" %}</li>
                    <li id="aud">{% trans "Audio" %}</li>
                    <li id="vid">{% trans "Video" %}</li>
                    <li id="txt">{% trans "Text" %}</li>
                </ul>
            </div>
            <div class="max_map" id="map_canvas"></div>
        </section>
        <section id="article-section" class="slide-in">
            <div class="close">
                <img src="{%static "stadtgedaechtnis_frontend/img/close.png" %}">
            </div>
            <div class="entry-list">
                <ul>
                    <li>
                        <div class="article-heading">
                            <div class="article-heading-row">
                                <a href="#" class="previous">
                                    <div class="article-heading-cell entry-slide previous">
                                        <img src="{%static "stadtgedaechtnis_frontend/img/left.png" %}">
                                    </div>
                                </a>
                                <div class="article-heading-cell">
                                    <h3></h3>
                                </div>
                                <a href="#" class="next">
                                    <div class="article-heading-cell entry-slide next">
                                        <a href="#"><img src="{%static "stadtgedaechtnis_frontend/img/right.png" %}"></a>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <img src="" alt="" id="entry-first"/>
                        <div class="center">
                            <img src="{%static "stadtgedaechtnis_frontend/img/ajax-loader.gif" %}" id="load-more-0" class="load-more">
                        </div>
                        <article class="entry-more" id="entry-more-0">
                        </article>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>
</body>
</html>