{% load i18n %}
<div class="new-entry">
    <h3>{% trans "Einen neuen Beitrag hinzufügen" %}</h3>
    <div class="center">
        <img src="/static/stadtgedaechtnis_frontend/img/ajax-loader.gif" id="load-more-picture" class="load-more">
    </div>
	<img src="" class="entry-image">
    <form>
        <input type="text" id="title" readonly="readonly">
        <label for="text">{% trans "Ihre persönliche Geschichte:" %}</label><textarea id="text"></textarea>
		<p><a href="#"><span class="next hide-text" id="next-location">{% trans "Weiter" %}</span></a></p>
    </form>
</div>