{% load i18n %}
{% load static %}
<div class="new-entry">
    <h3>{% trans "Einen neuen Beitrag hinzufügen" %}</h3>
    <div class="center">
        <div class="upload-advice">
            {% trans "Wird hochgeladen" %}... (<span id="progress">0</span>%)&nbsp;<img src="{% static "stadtgedaechtnis_frontend/img/ajax-loader.gif"%}" id="load-more-picture" class="load-more">
        </div>
    </div>
	<div class="asset">
	</div>
    <form>
		{% csrf_token %}
        <p class="center" id="alt_input"><input type="text" id="alt" placeholder="{% trans 'Untertitel' %}" class="alt"><span class="required">*</span></p>
        <p><input type="text" id="title" readonly="readonly"></p>
        <p><label for="text">{% trans "Ihre persönliche Geschichte" %}<span class="required">*</span>:</label><textarea id="text"></textarea></p>
		<p class="form form-left"><a href="#"><span class="previous hide-text" id="previous-story"></span><span class="float-left">{% trans "Zurück" %}</span></a></p>
		<p class="form form-right"><a href="#"><span class="next hide-text" id="next-story"></span><span class="float-right">{% trans "Weiter" %}</span></a></p>
    </form>
</div>