{% load i18n %}
<div class="new-entry">
    <h3>{% trans "Einen neuen Beitrag hinzufügen" %}</h3>
    <p>{% trans "Bitte geben Sie einen Titel für Ihren neuen Beitrag ein" %}
		{% if media_type != "" %}
		{% trans ", wählen " %}{{ media_type }}{% trans ' aus ' %}
		{% endif %}
		{% trans 'und klicken Sie auf "Weiter".' %}</p>
    <form>{% csrf_token %}
        {{ form.as_p }}
        <p class="form form-left" id="previous-text"><a href="#"><span class="previous hide-text"></span><span class="float-left">{% trans "Zurück" %}</span></a></p>
        <p class="form form-right" id="next-text"><a href="#"><span class="next hide-text"></span><span class="float-right">{% trans "Weiter" %}</span></a></p>
    </form>
</div>