{% load i18n %}
{% load static %}
<div class="new-entry">
    <h3>{% trans "Vorschau Ihres Eintrages" %}</h3>
    <div class="center">
        <img src="{% static "stadtgedaechtnis_frontend/img/ajax-loader.gif"%}" id="load-more-entry" class="load-more">
    </div>
    <article class="entry-more"></article>
    <p>{% trans 'Wenn Sie Ihren Beitrag so abschicken möchten, tippen Sie bitte auf "Weiter".' %}</p>
	<form>
        <p class="form form-left"><a href="#"><span class="previous hide-text" id="previous-text">{% trans "Zurück" %}</span></a></p>
    	<p class="form form-right"><a href="#"><span class="next hide-text" id="next-preview">{% trans "Weiter" %}</span></a></p>
	</form>
</div>